.backdrop{
    position: fixed;
    background: rgb(0,0,0,0.5);
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}


.mod{
    position: fixed;
    background: white;
    padding: 10px;
    width: 450px;
    border-radius: 10px;
    top: 150px;
    left: calc(50% - 140px);
    z-index: 1;
}